# Monorepo service endpoints
CMS_URL=http://localhost:1337
PUBLIC_API_URL=http://localhost:1337/api
OPENAPI_INPUT_URL=http://localhost:1337/api/documentation/1.0.0/full_documentation

# Frontend public env (Astro)
PUBLIC_CMS_URL=http://localhost:1337
