CMS_URL=http://localhost:1337
CMS_API_TOKEN=replace-with-strapi-api-token
PUBLIC_CMS_URL=http://localhost:1337
SITE_URL=http://localhost:4321
PUBLIC_SITE_URL=http://localhost:4321
PREVIEW_SECRET=replace-with-shared-preview-secret
REBUILD_WEBHOOK_TOKEN=replace-with-shared-rebuild-secret
DOKPLOY_DEPLOY_WEBHOOK_URL=https://dokploy.example.tld/replace-with-dokploy-rebuild-hook
DOKPLOY_DEPLOY_BRANCH=master
DOKPLOY_DEPLOY_REPOSITORY=ArthurNyan/blog-monorepo
HOST=0.0.0.0
PORT=4321
