---
import MainLayout from "@/layouts/main.astro";
import { getProjects } from "@/shared/api/generated";
import { fetchProjectBySlug } from "@/shared/api/pages";
import { DetailHero } from "@/shared/components/DetailHero";
import { MarkdownContent } from "@/shared/components/MarkdownContent";

export const getStaticPaths = async () => {
    const response = await getProjects();
    if (!response.data) {
        return [];
    }
    return response.data.data?.map((project) => ({
        params: { slug: project.slug },
    }));
};

const slug = Astro.params.slug as string;
const projectData = await fetchProjectBySlug(slug);

if (!projectData) {
	return new Response("Project not found.", { status: 404 });
}
---

<MainLayout
    content={{ title: projectData?.name || "Проект" }}
    className="flex flex-col"
>
	<>
		<DetailHero
			title={projectData.name}
			description={projectData.description}
			date={projectData.date}
			cover={projectData.cover || undefined}
			logo={projectData.logo || undefined}
		/>
		<article class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-12 md:py-16 lg:py-20">
			<div class="max-w-4xl mx-auto">
				{projectData.content && <MarkdownContent content={projectData.content} />}
			</div>
		</article>
	</>
</MainLayout>
