HOST=0.0.0.0
PORT=1337
PUBLIC_URL=http://localhost:1337
SITE_URL=http://localhost:4321
IS_PROXIED=false

DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
# DATABASE_CLIENT=postgres
# DATABASE_HOST=localhost
# DATABASE_PORT=5432
# DATABASE_NAME=strapi
# DATABASE_USERNAME=strapi
# DATABASE_PASSWORD=strapi
# DATABASE_SCHEMA=public
# DATABASE_SSL=false

APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
PREVIEW_SECRET=replace-with-shared-preview-secret
FRONTEND_REBUILD_HOOK_TOKEN=replace-with-shared-rebuild-secret
FRONTEND_REBUILD_WEBHOOK_NAME=Frontend rebuild hook
DOKPLOY_DEPLOY_WEBHOOK_URL=http://151.242.69.24:3000/api/deploy/replace-with-dokploy-hook
DOKPLOY_DEPLOY_BRANCH=master
DOKPLOY_DEPLOY_REPOSITORY=ArthurNyan/blog-monorepo
