---
const redirectTo = "/ru/";
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content={`0;url=${redirectTo}`} />
		<link rel="canonical" href={redirectTo} />
		<script is:inline>
			window.location.replace("/ru/");
		</script>
		<title>Redirecting…</title>
	</head>
	<body>
		<a href={redirectTo}>Перейти на русскую версию</a>
	</body>
</html>
